<ion-header class="ion-no-border">
    <!-- <ion-toolbar color="new">
      <ion-title color="light">Academy Swipe Tabs</ion-title>
      <ion-button slot="end">
          <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-toolbar> -->
    <ion-toolbar color="new">
        <ion-buttons slot="start" *ngIf="canGoBack">
            <ion-button (click)="goBack()">
              <ion-icon name="arrow-back" slot="start" color="light"></ion-icon> Back
            </ion-button>
          </ion-buttons>
        <ion-buttons slot="primary">
          <ion-button color="light">
            <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title size="small" color="light"> Toolbar</ion-title>
      </ion-toolbar>
  </ion-header>
  
  <super-tabs (tabChange)="onTabChange($event)">
    <super-tabs-toolbar slot="bottom" color="new" >
      <super-tab-button >
        <ion-icon name="apps-outline" ></ion-icon>
        <ion-label>Menu</ion-label>    
      </super-tab-button>
      <super-tab-button>
        <!-- <ion-icon name="person-circle-outline" color="dark"></ion-icon> -->
        <ion-icon name="person-circle-outline" ></ion-icon>
        <ion-label>Profile</ion-label>    
      </super-tab-button>
      <super-tab-button>
        <ion-icon name="settings-outline"></ion-icon>
        <ion-label>Pengaturan</ion-label>    
      </super-tab-button>
    </super-tabs-toolbar>
  
    <super-tabs-container>
      <super-tab>
        <ion-content>
            <ion-nav [root]="menuPage"></ion-nav>
        </ion-content>
      </super-tab>
      <super-tab>
        <ion-content>
            <ion-nav [root]="profilePage"></ion-nav>
        </ion-content>
      </super-tab>
      <super-tab>
        <ion-content>
          App about
        </ion-content>
      </super-tab>
    </super-tabs-container>
  
  </super-tabs>