<ion-header>
  <ion-toolbar color="primary">
    
    <ion-title>Detail User</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
  Welcome to the members only area!
 
  <!-- <p>{{ data }}</p> -->
 
  <!-- <ion-button expand="full" (click)="loadSpecialInfo()">Load Special Info</ion-button> -->
  <div>
    data disini
  <ion-item>
    <ion-label position="floating">E-Mail</ion-label>
    <ion-input  type="text" [value]="data?.id"></ion-input>
  </ion-item>
  <p>{{ data?.username }}</p>
  </div>
  <ion-button expand="full" (click)="logout()">Logout</ion-button>
  <!-- <ion-button expand="full" (click)="clearToken()">Clear JWT</ion-button> -->
  <button ion-button routerLink="/home" > Open Page</button>
 
 
</ion-content>